<div class="panel panel-default">
  <div class="panel-body">
    <h2><%= "Balance: #{@balance}" %></h2>
    <h2><%= "Debt: #{@debt}" %></h2>
    <h2><%= "Total: #{@total}" %></h2>
    <div class="btn-group" role="group">
    </div>
  </div>
</div>




<table class="table">
  <thead>
  
    <tr>
      <th>Title</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>


  <tbody>
  <tr>
      <% @accounts.each do |account| %>  
    
      <td><%= account.title %></td>  
      <td><%= account.amount %></td>
      <td><%= account.date %></td> 
      
      <td>  <%= link_to 'Delete', account_path(account), method: :delete, class: 'btn btn-sm btn-danger', data: {confirm: "Are you sure?"} %></td>
        <td><%= link_to 'Edit', edit_account_path(account), class: 'btn btn-sm btn-success' %></td>

  </tr>
<% end %>
  </tbody>
</table>

</div>